.TodoContainer {
    display: flex;
    border: solid 1px;
}
  
.TodoMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 1px;
}

.TodoDashboard {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 20px;
    border: solid 1px;
}

.TodoList {
    flex: 1;
    border: solid 1px;
}

.TodoCreature {
    flex: 1;
    border: solid 1px;
}