.Intro {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* overflow-y: scroll; */
    background: url('../assets/images/img-main.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 5vmax;
}

.IntroChild {
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.IntroLogo {
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.17), 0 0 4px rgba(0, 0, 0, 0.08);
    margin: 150px 0px;
    font-family: 'PretendardB';
}


/* button css */

/* @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"); */

.IntroClickWrapper {
    margin: 80px 0px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: 0.25s;
}

.w-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}