.CreatureInfo {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.CreatureInfo h2 {
    font-family: 'PretendardSM';
    font-size: 23px;
    margin: 10px 0 0 0;
}

.CreatureInfo p {
    font-family: 'PretendardR';
    font-size: 18px;
    margin: 5px 0;
}

#CreatureInfoDay {
    font-family: 'PretendardM';
    color: #9E69FA;
}

.CreatureInfoPhoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative; 
    z-index: 2;
}

.CreatureInfoPhoto:hover {
    transform: translateY(-6px);
}

.CreatureInfoTodo {
    width: 90%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.CreatureInfoTodo:hover {
    transform: translateY(-6px);
}

.WeatherOverlay {
    position: absolute; /* 부모 요소에 상대적인 위치 */
    top: 30%; /* 부모 요소의 50% 위치에서 시작하여 */
    left: 50%; /* 부모 요소의 50% 위치에서 시작하여 */
    width: 150px; /* CreatureInfoPhoto와 같은 크기 */
    height: 150px; /* CreatureInfoPhoto와 같은 크기 */
    transform: translate(-50%, -50%); /* 정확히 가운데로 맞추기 위해 사용 */
    z-index: 1; /* Creature 이미지보다 뒤에 오도록 설정 */
    border-radius: 50%;
    pointer-events: none; /* 이미지가 클릭을 방해하지 않도록 설정 */
}