.DiaryPic {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    width: 97%;
    /* z-index: -1; */
}

.DiaryPicDay {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: 'PretendardSB';
}

.DiaryArrows:hover {
    transform: translateY(-4px);
}